.showcase-row {
  padding-left: var(--space-6);
}

.showcase-row {
  margin-bottom: var(--space-6);
}

.container-sm {
  max-width: 40rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;
}

.container-md {
  max-width: 48rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;

  @media screen and (min-width: $screen-md-min) {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}

.container-lg {
  max-width: 64rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;

  @media screen and (min-width: $screen-md-min) {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}

.container-xl {
  max-width: 80rem;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
  @extend .mx-auto;

  @media screen and (min-width: $screen-md-min) {
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}

.section-both {
  padding-bottom: var(--space-16);
  padding-top: var(--space-16);

  @media screen and (min-width: $screen-md-min) {
    padding-bottom: var(--space-24);
    padding-top: var(--space-24);
  }
}

.section-top {
  padding-top: var(--space-16);

  @media screen and (min-width: $screen-lg-min) {
    padding-top: var(--space-24);
  }
}

.section-bottom {
  padding-bottom: var(--space-16);

  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: var(--space-24);
  }
}
