.showcase-row {
  padding-left: var(--space-6);
}

.showcase-row {
  margin-bottom: var(--space-6);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: var(--space-4);
  padding-left: var(--space-4);
}

@media screen and (min-width: $screen-sm-min) {
  .container {
    max-width: 23.4375rem;
  }
}

@media screen and (min-width: $screen-md-min) {
  .container {
    max-width: 48rem;
    padding-right: var(--space-8);
    padding-left: var(--space-8);
  }
}

@media screen and (min-width: $screen-lg-min) {
  .container {
    max-width: 80rem;
  }
}
