<section class="showcase-row">
  <div class="d-inline-flex align-items-center gap-2.5">
    <img src="./images/figure-img.jpg" class="avatar avatar-sm" alt="avatar" />
    <div class="avatar-text">
      <span class="text-sm text-medium text-gray-700">Olivia Rhye</span>
      <span class="text-xs">olivia@untitledui.com</span>
    </div>
  </div>
  <div class="d-inline-flex align-items-center gap-3">
    <img src="./images/figure-img.jpg" class="avatar avatar-md" alt="avatar" />
    <div class="avatar-text">
      <span class="text-sm text-medium text-gray-700">Olivia Rhye</span>
      <span class="text-sm">olivia@untitledui.com</span>
    </div>
  </div>
  <div class="d-inline-flex align-items-center gap-3">
    <img src="./images/figure-img.jpg" class="avatar avatar-lg" alt="avatar" />
    <div class="avatar-text">
      <span class="text-md text-medium text-gray-700">Olivia Rhye</span>
      <span class="text-md">olivia@untitledui.com</span>
    </div>
  </div>
  <div class="d-inline-flex align-items-center gap-4">
    <img src="./images/figure-img.jpg" class="avatar avatar-xl" alt="avatar" />
    <div class="avatar-text">
      <span class="text-lg text-medium text-gray-700">Olivia Rhye</span>
      <span class="text-md">olivia@untitledui.com</span>
    </div>
  </div>
</section>
