<section>
  <div class="showcase-row">
    <a href="#!" class="badge badge-primary badge-sm">Label</a>
    <a href="#!" class="badge badge-primary badge-md">Label</a>
    <a href="#!" class="badge badge-primary badge-lg">Label</a>
  </div>

  <div class="showcase-row">
    <a href="#!" class="badge badge-blue badge-sm">Label</a>
    <a href="#!" class="badge badge-blue badge-md">Label</a>
    <a href="#!" class="badge badge-blue badge-lg">Label</a>
  </div>

  <div class="showcase-row">
    <a href="#!" class="badge badge-pink badge-sm">Label</a>
    <a href="#!" class="badge badge-pink badge-md">Label</a>
    <a href="#!" class="badge badge-pink badge-lg">Label</a>
  </div>
</section>
