<section>
  <div class="showcase-row">
    <a href="#!" class="badge badge-gray badge-sm text-xs text-medium">Label</a>
    <a href="#!" class="badge badge-gray badge-md text-sm text-medium">Label</a>
    <a href="#!" class="badge badge-gray badge-lg text-sm text-medium">Label</a>
  </div>

  <div class="showcase-row">
    <a href="#!" class="badge badge-primary badge-sm text-xs text-medium">
      Label
    </a>
    <a href="#!" class="badge badge-primary badge-md text-sm text-medium">
      Label
    </a>
    <a href="#!" class="badge badge-primary badge-lg text-sm text-medium">
      Label
    </a>
  </div>

  <div class="showcase-row">
    <a href="#!" class="badge badge-indigo badge-sm text-xs text-medium">
      Label
    </a>
    <a href="#!" class="badge badge-indigo badge-md text-sm text-medium">
      Label
    </a>
    <a href="#!" class="badge badge-indigo badge-lg text-sm text-medium">
      Label
    </a>
  </div>

  <div class="showcase-row">
    <a href="#!" class="badge badge-pink badge-sm text-xs text-medium">Label</a>
    <a href="#!" class="badge badge-pink badge-md text-sm text-medium">Label</a>
    <a href="#!" class="badge badge-pink badge-lg text-sm text-medium">Label</a>
  </div>

  <div class="showcase-row">
    <a
      href="#!"
      class="badge badge-blue badge-sm text-xs text-medium d-inline-flex align-items-center gap-0\.375"
    >
      <svg class="icon" width="8" height="8">
        <use href="./images/symbol-defs.svg#dot"></use>
      </svg>
      Label
    </a>
    <a
      href="#!"
      class="badge badge-blue badge-md text-sm text-medium d-inline-flex align-items-center gap-0\.375"
    >
      <svg class="icon" width="8" height="8">
        <use href="./images/symbol-defs.svg#dot"></use>
      </svg>
      Label
    </a>
    <a
      href="#!"
      class="badge badge-blue badge-lg text-sm text-medium d-inline-flex align-items-center gap-0\.375"
    >
      <svg class="icon" width="8" height="8">
        <use href="./images/symbol-defs.svg#dot"></use>
      </svg>
      Label
    </a>
  </div>
</section>
