<section class="container">
  <div class="showcase-row">
    <blockquote class="blockquote">
      <!-- prettier-ignore -->
      <p class="text-xl text-medium text-gray-900 text-italic lg:display-sm">In a world older and more complete than ours they move finished and complete, gifted with extensions of the senses we have lost or never attained, living by voices we shall never hear.</p>
      <footer class="blockquote-footer">Olivia Rhye, Product Designer</footer>
    </blockquote>
  </div>
</section>
