<section class="showcase">
  <div class="showcase-row">
    <button type="button" class="btn btn-primary btn-sm">Primary sm</button>
    <button type="button" class="btn btn-primary btn-md">Primary md</button>
    <button type="button" class="btn btn-primary btn-lg">Primary lg</button>
    <button type="button" class="btn btn-primary btn-xl">Primary xl</button>
    <button type="button" class="btn btn-primary btn-2xl">Primary 2xl</button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-gray btn-sm">
      Secondary gray sm
    </button>
    <button type="button" class="btn btn-secondary-gray btn-md">
      Secondary gray md
    </button>
    <button type="button" class="btn btn-secondary-gray btn-lg">
      Secondary gray lg
    </button>
    <button type="button" class="btn btn-secondary-gray btn-xl">
      Secondary gray xl
    </button>
    <button type="button" class="btn btn-secondary-gray btn-2xl">
      Secondary gray 2xl
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-color btn-sm">
      Secondary color sm
    </button>
    <button type="button" class="btn btn-secondary-color btn-md">
      Secondary color md
    </button>
    <button type="button" class="btn btn-secondary-color btn-lg">
      Secondary color lg
    </button>
    <button type="button" class="btn btn-secondary-color btn-xl">
      Secondary color xl
    </button>
    <button type="button" class="btn btn-secondary-color btn-2xl">
      Secondary color 2xl
    </button>
  <div>

  <div class="showcase-row">
      <button type="button" class="btn btn-primary btn-sm btn-destructive" disabled>
      Primary sm
    </button>
    <button type="button" class="btn btn-secondary-gray btn-sm" disabled>
      Secondary gray sm
    </button>
    <button type="button" class="btn btn-secondary-color btn-sm" disabled>
      Secondary color sm
    </button>
  </div>
</section>
