<section>
  <div class="showcase-row">
    <button type="button" class="btn btn-primary btn-sm">Button</button>
    <button type="button" class="btn btn-primary btn-md">Button</button>
    <button type="button" class="btn btn-primary btn-lg">Button</button>
    <button type="button" class="btn btn-primary btn-xl">Button</button>
    <button type="button" class="btn btn-primary btn-2xl">Button</button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-primary btn-sm" disabled>
      Button
    </button>
    <button type="button" class="btn btn-primary btn-md" disabled>
      Button
    </button>
    <button type="button" class="btn btn-primary btn-lg" disabled>
      Button
    </button>
    <button type="button" class="btn btn-primary btn-xl" disabled>
      Button
    </button>
    <button type="button" class="btn btn-primary btn-2xl" disabled>
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-gray btn-sm">Button</button>
    <button type="button" class="btn btn-secondary-gray btn-md">Button</button>
    <button type="button" class="btn btn-secondary-gray btn-lg">Button</button>
    <button type="button" class="btn btn-secondary-gray btn-xl">Button</button>
    <button type="button" class="btn btn-secondary-gray btn-2xl">Button</button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-gray btn-sm" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-md" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-lg" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-xl" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-2xl" disabled>
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-color btn-sm">Button</button>
    <button type="button" class="btn btn-secondary-color btn-md">Button</button>
    <button type="button" class="btn btn-secondary-color btn-lg">Button</button>
    <button type="button" class="btn btn-secondary-color btn-xl">Button</button>
    <button type="button" class="btn btn-secondary-color btn-2xl">
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-color btn-sm" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-color btn-md" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-color btn-lg" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-color btn-xl" disabled>
      Button
    </button>
    <button type="button" class="btn btn-secondary-color btn-2xl" disabled>
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-tertiary-gray btn-sm">Button</button>
    <button type="button" class="btn btn-tertiary-gray btn-md">Button</button>
    <button type="button" class="btn btn-tertiary-gray btn-lg">Button</button>
    <button type="button" class="btn btn-tertiary-gray btn-xl">Button</button>
    <button type="button" class="btn btn-tertiary-gray btn-2xl">Button</button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-tertiary-gray btn-sm" disabled>
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-md" disabled>
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-lg" disabled>
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-xl" disabled>
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-2xl" disabled>
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-primary btn-sm btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-primary btn-md btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-primary btn-lg btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-primary btn-xl btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-primary btn-2xl btn-destructive">
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button
      type="button"
      class="btn btn-primary btn-sm btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-primary btn-md btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-primary btn-xl btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-primary btn-2xl btn-destructive"
      disabled
    >
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-secondary-gray btn-sm btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-md btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-lg btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-secondary-gray btn-xl btn-destructive">
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-gray btn-2xl btn-destructive"
    >
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button
      type="button"
      class="btn btn-secondary-gray btn-sm btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-gray btn-md btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-gray btn-lg btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-gray btn-xl btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-gray btn-2xl btn-destructive"
      disabled
    >
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button
      type="button"
      class="btn btn-secondary-color btn-sm btn-destructive"
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-md btn-destructive"
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-lg btn-destructive"
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-xl btn-destructive"
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-2xl btn-destructive"
    >
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button
      type="button"
      class="btn btn-secondary-color btn-sm btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-md btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-lg btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-xl btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-secondary-color btn-2xl btn-destructive"
      disabled
    >
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button type="button" class="btn btn-tertiary-gray btn-sm btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-md btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-lg btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-xl btn-destructive">
      Button
    </button>
    <button type="button" class="btn btn-tertiary-gray btn-2xl btn-destructive">
      Button
    </button>
  </div>

  <div class="showcase-row">
    <button
      type="button"
      class="btn btn-tertiary-gray btn-sm btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-tertiary-gray btn-md btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-tertiary-gray btn-lg btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-tertiary-gray btn-xl btn-destructive"
      disabled
    >
      Button
    </button>
    <button
      type="button"
      class="btn btn-tertiary-gray btn-2xl btn-destructive"
      disabled
    >
      Button
    </button>
  </div>
</section>
