<header class="header">
  <div class="container-xl header-container">
    <a href="index.html" class="header-logo">
      <img src="./images/logo.svg" width="142" height="32" alt="Logo" />
    </a>
    <button
      class="header-burger-button reset-button"
      type="button"
      aria-label="Open menu"
      data-open-menu-button
    >
      <img
        src="./images/icon-mobile-menu.svg"
        width="24"
        height="24"
        alt="Open menu"
      />
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a
            class="header-nav-link  {{ current === 'components' ? 'current' : '' }} "
            href="components.html"
            >Components</a
          >
        </li>
        <li>
          <a
            class="header-nav-link {{ current === 'index' ? 'current' : '' }}"
            href="index.html"
            >Blog</a
          >
        </li>
        <li>
          <a
            class="header-nav-link {{ current === 'team' ? 'current' : '' }}"
            href="team-page.html"
            >Team</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header-auth-list">
      <li>
        <a class="btn btn-tertiary-gray btn-lg" href="#">Log in</a>
      </li>
      <li>
        <a class="btn btn-primary btn-lg" href="#">Sign up</a>
      </li>
    </ul>
  </div>
</header>
