<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <img src="./images/logo.svg" width="142" height="32" alt="Logo" />
    </a>
    <button
      class="header-burger-button reset-button"
      type="button"
      aria-label="Open menu"
      data-open-menu-button
    >
      <img
        src="./images/icon-mobile-menu.svg"
        width="24"
        height="24"
        alt="Open menu"
      />
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li>
          <a href="#" class="header-nav-link">Home</a>
        </li>
        <li>
          <a href="#" class="header-nav-link">Resources</a>
        </li>
        <li>
          <a href="#" class="header-nav-link">Resources</a>
        </li>
        <li>
          <a href="#" class="header-nav-link">Pricing</a>
        </li>
      </ul>
    </nav>
    <ul class="header-auth-list">
      <li>
        <a href="#" class="btn btn-tertiary-gray btn-lg">Log in</a>
      </li>
      <li>
        <a href="#" class="btn btn-primary btn-lg">Sign up</a>
      </li>
    </ul>
  </div>
</header>
