<section>
  <div class="showcase-row">
    <label for="input-email" class="input-label">Email</label>
    <input
      type="email"
      class="input"
      id="input-email"
      placeholder="olivia@untitledui.com"
    />
    <div class="input-tip">This is a hint text to help user.</div>
  </div>

  <div class="showcase-row">
    <label for="input-email-disabled" class="input-label">Email</label>
    <input
      type="email"
      class="input input-disabled"
      id="input-email-disabled"
      placeholder="olivia@untitledui.com"
      aria-label="disabled input"
      disabled
    />
    <div class="input-tip">This is a hint text to help user.</div>
  </div>

  <div class="showcase-row">
    <label for="input-email-error" class="input-label">Email</label>
    <input
      type="email"
      class="input input-error"
      id="input-email-error"
      placeholder="olivia@untitledui.com"
    />
    <div class="input-error-tip">This is an error message.</div>
  </div>
</section>
