<section class="mobile-menu" data-mobile-menu>
  <header class="mobile-header">
    <a href="#" class="header-logo-mobile">
      <img src="./images/logo.svg" width="142" height="32" alt="Logo" />
    </a>
    <button
      class="reset-button"
      type="button"
      aria-label="Close menu"
      data-close-menu-button
    >
      <img
        src="./images/icon-mobile-menu-cross.svg"
        width="24"
        height="24"
        alt="Close menu"
      />
    </button>
  </header>
  <div class="mobile-nav-container">
    <nav class="mobile-nav">
      <ul>
        <li class="mobile-nav-item"><a href="#">Home</a></li>
        <li class="mobile-nav-item"><a href="#">Resources</a></li>
        <li class="mobile-nav-item"><a href="#">Resources</a></li>
        <li class="mobile-nav-item"><a href="#">Pricing</a></li>
      </ul>
    </nav>
    <ul class="mobile-auth-list">
      <li class="mobile-auth-item">
        <a class="btn btn-secondary-gray btn-lg w-100">Log in</a>
      </li>
      <li class="mobile-auth-item">
        <a class="btn btn-primary btn-lg w-100">Sign up</a>
      </li>
    </ul>
  </div>
</section>
