.badge {
  border-radius: var(--space-4);
  transition: var(--transition);
  gap: 0.375rem;

  &:hover {
    opacity: 0.7;
  }

  a.badge {
    text-decoration: underline;
  }
}

.badge-gray {
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
}

.badge-primary {
  background-color: var(--color-primary-50);
  color: var(--color-primary-700);
}

.badge-indigo {
  background-color: var(--color-indigo-50);
  color: var(--color-indigo-700);
}

.badge-pink {
  background-color: var(--color-pink-50);
  color: var(--color-pink-700);
}

.badge-blue {
  background-color: var(--color-blue-25);
  color: var(--color-blue-700);
}

.badge-sm {
  @extend .text-xs;
  padding: 0.125rem var(--space-2);
}

.badge-md {
  @extend .text-sm;
  padding: 0.125rem 0.625rem;
}

.badge-lg {
  @extend .text-sm;
  padding: var(--space-1) var(--space-3);
}
