.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--space-2);
  font-weight: var(--text-medium);
  cursor: pointer;
  transition: border var(--transition), color var(--transition),
    background-color var(--transition), box-shadow var(--transition);
  text-align: center;
  text-decoration: none;
  outline: 0;
}

.btn-primary {
  border-color: var(--color-primary-600);
  background-color: var(--color-primary-600);
  color: var(--color-base-white);
  box-shadow: var(--shadow-xs);

  &:hover {
    border-color: var(--color-primary-700);
    background-color: var(--color-primary-700);
  }

  &:focus {
    border-color: var(--color-primary-600);
    background-color: var(--color-primary-600);
    box-shadow: var(--shadow-focused-primary-100);
  }

  &:disabled,
  &.disabled {
    border-color: var(--color-primary-200);
    background-color: var(--color-primary-200);
    pointer-events: none;
  }

  &.btn-destructive {
    border-color: var(--color-error-600);
    background-color: var(--color-error-600);

    &:hover {
      border-color: var(--color-error-700);
      background-color: var(--color-error-700);
    }

    &:focus {
      border-color: var(--color-error-600);
      background-color: var(--color-error-600);
      box-shadow: var(--shadow-focused-error-100);
    }

    &:disabled,
    &.disabled {
      border-color: var(--color-error-200);
      background-color: var(--color-error-200);
      pointer-events: none;
    }
  }
}

.btn-secondary-gray {
  border-color: var(--color-gray-300);
  background-color: var(--color-base-white);
  color: var(--color-gray-700);
  box-shadow: var(--shadow-xs);

  &:hover {
    background-color: var(--color-gray-50);
  }

  &:focus {
    border-color: var(--color-gray-300);
    box-shadow: var(--shadow-focused-gray-100);
  }

  &:disabled,
  &.disabled {
    border-color: var(--color-gray-200);
    background-color: var(--color-base-white);
    color: var(--color-gray-300);
    pointer-events: none;
  }

  &.btn-destructive {
    border-color: var(--color-error-300);
    background-color: var(--color-base-white);
    color: var(--color-error-700);

    &:hover {
      background-color: var(--color-error-50);
      color: var(--color-error-800);
    }

    &:focus {
      box-shadow: var(--shadow-focused-error-100);
    }

    &:disabled,
    .disabled {
      border-color: var(--color-error-200);
      color: var(--color-error-300);
    }
  }
}

.btn-secondary-color {
  border-color: var(--color-primary-50);
  background-color: var(--color-primary-50);
  color: var(--color-primary-700);
  box-shadow: var(--shadow-xs);

  &:hover {
    border-color: var(--color-primary-100);
    background-color: var(--color-primary-100);
  }

  &:focus {
    box-shadow: var(--shadow-focused-primary-100);
  }

  &:disabled,
  .disabled {
    border-color: var(--color-primary-25);
    background-color: var(--color-primary-25);
    color: var(--color-primary-300);
    pointer-events: none;
  }

  &.btn-destructive {
    border-color: var(--color-error-50);
    background-color: var(--color-error-50);
    color: var(--color-error-700);

    &:hover {
      background-color: var(--color-error-100);
      border-color: var(--color-error-100);
    }

    &:focus {
      box-shadow: var(--shadow-focused-error-100);
    }

    &:disabled,
    &.disabled {
      border-color: var(--color-error-25);
      background-color: var(--color-error-25);
      color: var(--color-error-300);
      pointer-events: none;
    }
  }
}

.btn-tertiary-gray {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-gray-500);

  &:hover {
    border-color: var(--color-gray-50);
    background-color: var(--color-gray-50);
    color: var(--color-gray-600);
  }

  &:disabled,
  .disabled {
    border-color: transparent;
    background-color: transparent;
    color: var(--color-gray-300);
    pointer-events: none;
  }

  &.btn-destructive {
    border-color: transparent;
    background-color: transparent;
    color: var(--color-error-700);

    &:hover {
      border-color: var(--color-error-50);
      background-color: var(--color-error-50);
      color: var(--color-error-800);
    }

    &:disabled,
    &.disabled {
      border-color: transparent;
      background-color: transparent;
      color: var(--color-error-300);
      pointer-events: none;
    }
  }
}

.btn-sm {
  @extend .text-sm;
  padding: 0.4375rem 0.8125rem;
}

.btn-md {
  @extend .text-sm;
  padding: 0.5625rem 0.9375rem;
}

.btn-lg {
  @extend .text-md;
  padding: 0.5625rem 1.0625rem;
}

.btn-xl {
  @extend .text-md;
  padding: 0.6875rem 1.1875rem;
}

.btn-2xl {
  @extend .text-lg;
  padding: 0.9375rem 1.6875rem;
}
