.icon-xs {
  width: var(--space-3);
  height: var(--space-3);
}

.icon-sm {
  width: var(--space-4);
  height: var(--space-4);
}

.icon-md {
  width: var(--space-5);
  height: var(--space-5);
}

.icon-lg {
  width: var(--space-6);
  height: var(--space-6);
}

.icon-xl {
  width: 1.75rem;
  height: 1.75rem;
}
