.input {
  display: block;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--space-2);
  padding: 0.625rem 0.875rem;
  color: var(--color-gray-900);
  box-shadow: var(--shadow-xs);
  outline: 0;
  transition: border-color var(--transition), box-shadow var(--transition);

  &:focus {
    border-color: var(--color-primary-300);
    box-shadow: var(--shadow-focused-primary-100);
  }

  &::placeholder {
    font-weight: 400;
    font-size: var(--space-4);
    line-height: var(--space-6);
    color: var(--color-gray-500);
  }

  &.input-disabled {
    border-color: var(--color-gray-300);
    background-color: var(--color-gray-50);
    color: var(--color-gray-500);
  }
}

.input-label {
  display: inline-block;
  margin-bottom: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: var(--space-5);
  color: var(--color-gray-700);
}

.input-tip {
  margin-top: 0.375rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: var(--space-5);
  color: var(--color-gray-500);
}

.input-error {
  border-color: var(--color-error-300);

  &:focus {
    border-color: var(--color-error-300);
    box-shadow: var(--shadow-focused-error-100);
  }
}

.input-error-tip {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: var(--space-5);
  color: var(--color-error-500);
}

.input-group {
  position: relative;
  display: flex;
  align-items: stretch;
}

.input-group-text {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray-300);
  padding: 0.625rem var(--space-3) 0.625rem 0.875rem;
  color: var(--color-gray-500);
}

.input-group > .input-group-text:first-child {
  margin-right: -1px;
  border-top-left-radius: var(--space-2);
  border-bottom-left-radius: var(--space-2);
}

.input-group > .input-group-text:last-child {
  margin-left: -1px;
  border-top-right-radius: var(--space-2);
  border-bottom-right-radius: var(--space-2);
}

.input-group > .input-group-field:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-field:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .input-group-field:not(:first-child):not(:last-child) {
  border-radius: 0;
}
