select.input {
  min-width: 100%;
  background-image: url('../images/chevron-down.svg');
  background-position: right 0.625rem center;
  background-size: var(--space-5);
  background-repeat: no-repeat;
  appearance: none;

  @media screen and (min-width: $screen-md-min) {
    display: none;
  }
}

.showcase-row select.input {
  @media screen and (min-width: $screen-md-min) {
    display: block;
  }
}
